@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    margin-top: 20px;
    padding: 8px;
    border-bottom: 2px solid #E2E3EF;
}

.none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gap {
    gap: 1.5rem;
}

.size_text_trans_color {
    font-size: 14px;
    text-transform: uppercase;
    color: #07040C;
    font-weight: 500;
    transition: 0.8s ease;
}

.hover:hover {
    color: #069fd39a;
    transition: all 0.3s linear;
}

.button {
    padding: 6px 15px;
    font-size: 12px;
    color: #07040C;
    border-radius: 20px;
    border: 1px solid #000000;
    font-weight: 500;
    text-transform: uppercase;
    background-color: white;
    transition: 0.8s ease;
}

.button:hover {
    border: 1px solid #069fd39a;
    transition: all 0.3s linear;
    cursor: pointer;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.p {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 69px;
}

.p2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
    color: #585967;
}

.p2 span {
    color: #F35A05;
}

.div_2 {
    margin-top: 30px;
}

.a_button1 {
    padding: 14px 25px;
    border-radius: 60px;
    background-color: #F35A05;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #F35A05;
    transition: all 0.5s ease;
}

.active:hover{
    color: white;
    background-color: #585967;
}

.active:active{
    transition: all 0.3s ease;
    color: #F35A05;
}
.p3 {
    font-size: 16px;
    font-weight: 400;
    color: #585967;
}

.p4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.p5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #585967;
}

.svg {
    margin-top: -0.9rem;
}

.svg2 {
    margin-top: 1.4rem;
}

.svg3 {
    margin-top: 2.9rem;
}

.svg4 {
    margin-top: 2.9rem;
}

.flex3 {
    display: flex;
    gap: 16px;
}

.card_acar {
    width: 700px;
    height: 100px;
    background-color: #fbfbbf;
    border: 2.1px dashed #0000007e;
    border-radius: 10px;
    transition: 1s ease;
    margin-top: 20px;
    position: relative;
}

.card_acar:hover {
    transition: 0.5S ease;
    box-shadow: 0px 8px 20px 0px #0000007e;
    border: 2.1px solid #fbfbbf;
}

.svg5 {
    margin-top: 15px;
    margin-left: 15px;
}

.div3 {
    position: relative;
}

.img3 {
    position: absolute;
    top: 21px;
    right: 4.5px;
}

.p_4 {
    position: absolute;
    left: 30px;
}

.p_5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    top: 55px;
    left: 45px;
}

.card_acar2 {
    width: 700px;
    height: 140px;
    background-color: #fbfbbf;
    border: 2.1px dashed #0000007e;
    border-radius: 10px;
    transition: 1s ease;
    margin-top: 20px;
    position: relative;
}

.card_acar2:hover {
    transition: 0.5S ease;
    box-shadow: 0px 8px 20px 0px #0000007e;
    border: 2.1px solid #fbfbbf;
}

.li {
    margin-left: 15px;
}
.flex_3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 400px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.div_{
    position: relative;
}

.img_2{
    position: absolute;
    top: -38px;
    left: -4px;
}

.span_1 {
    position: absolute;
    top: -34px;
    left: 6.2px;
    font-size: 22px;
    transform: rotate(5deg);
    color: white;
    font-weight: 400;
    font-style: italic;
}

.p_2{
    position: absolute;
    top: -19px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
}
.left{
    position: absolute;
    left: 550px;
}
.left2{
    position: absolute;
    left: 930px;
}
.p6{
    position: absolute;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #585967;
    text-align: center;
}
.hay_xoy{
    font-size: 14px;
    font-weight: 500;
    color: #F35A05;
    padding: 3px 8px;
    border: 1.2px solid #F35A05;
    border-radius: 50px;
}
.top{
    position: absolute;
    top: 70px;
    left: -40px;
    width: 380px;
    height: 220px;
}























@media (min-width: 360px) and (max-width: 916px) {
    .container {
        max-width: 340px;
        margin: auto;
    }
    .wrab{
        flex-wrap: wrap;
    }
    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ul_none {
        display: none;
    }
    .none {
        font-size: 35px;
        text-transform: uppercase;
        color: #07040C;
        font-weight: 500;
        transition: 0.8s ease;
        display: inline;
        margin-right: -130px;
    }
    .none:hover {
        color: #069fd39a;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .button{
        display: none;
    }
    .p {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
    }
    .p2 {
        font-size: 1.3rem;
        text-align: center;
    }
    .a_button1{
        padding: 20px 100px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .column{
        margin-top: 20px;
        width: 103%;
        height: auto;
        background-size: cover;
    }
    .p3{
        font-size: 18px;
    }
    .varb2{
        flex-wrap: wrap;
    }
}